/**
 *
 * One Dark Pro Monokai Darker
 *
 * Colors
 **/

* {
    background:     #121212FF;
    background-alt: #1a1a1aFF;
    foreground:     #abb2bfFF;
    selected:       #61AFEFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
